.demo {
	h1 {
		text-align: center;
	}

	.focal {
		box-shadow: 0 0 12px rgba(#000, .3);
	}

	&__crops {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__crop {
		margin-left: 18px;
		padding: 0;
		border: 0;
		background: transparent;
		font: inherit;

		&:focus {
			outline: 0;
		}

		&.is-active {
			text-decoration: underline;
		}
	}

	&__coords {
		margin-top: 12px;
		text-align: center;

		span {
			display: inline-block;
			width: 30px;
			margin: 0 12px;
			font-size: 24px;
			text-align: center;
		}
	}
}
